TAGS
REVISION
*.tmproj
*~
.DS_Store
.settings
.project
.tasks-cache
.svn
.nyc_output/
*DONOTVERSION*
/nbproject
/.idea
lib-cov
node_modules/
reports/
/npm-debug.log
/coverage
/.npm
.history

# meteor specific
.build*
versions.json
package-lock.json