.nyc_output/
.github
.vscode
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.prettierignore
.prettierrc.cjs
.npm/
build/*
build/build/*
!build/build/faker.js
!build/build/faker.min.js
CODE_OF_CONDUCT.md
conf.json
CONTRIBUTING.md
doc/
docs/
examples/
gulpfile.js
logo.png
meteor/
netlify.toml
scripts
test/
reports/
faker-tmp

